body {
	background: #f5f5f5;
	font-family: 'times new roman';
}

.navbar {
	height: 50px;
	margin: 0 auto 0;
	padding-top: 30px;
	width: 1200px;
}

.logo-text {
	margin-top: 38px;
	font-size: 30px;
	color:#000;
}

.trigger {
	float: right;
	height: 20px;
	margin-right:20px;
	padding-top: 15px;
	line-height: 20px;
}

.login-panel {
	margin-top: 10px;
	padding-top: 80px;
	padding-bottom: 80px;
	background: url("../images/webico/login.png");
}

.login-panel form {
	background: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

.form {
	margin-left: 590px;
	padding-left: -50px;
	width: 350px;
}

.control-group {
	margin-left: -80px;
}

.left {
	padding-left: 40px;
}

.zhuce {
	margin: 0px 20px;
}

input.error:focus{
transition:border linear 0.2s,box-shadow linear .2s;
outline:none;
border-color:red;
box-shadow:0 0 8px red;
}
 #username-error,#password-error,#re_password-error, #tel-error {
   width: auto;
   color:red;
   margin-left:233px;
   margin-top:-25px;
   position: absolute;
}